body{
    background: aliceblue;
}

div#navbar{
    display: grid;
    height: 50px;
    grid-template-columns: 15% 15% 15% 15% 15% auto;
    background: lightgray;

}

.one{
    background: lightgray;
    align-self: center;

}
.two{
    background: lightgray;
    text-align: right;
    align-self: center;
}

div#stable{
    display: grid;
    height: auto;
    width: auto;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-template-rows: auto;

}

div#stable_div{
    border-color: grey;
    border-width: 0.5px;
    border-style: solid;
    text-align: center;
    height: 50px;
    align-self: center;
    vertical-align: center;
}

div#stable_button{

}