<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StarWarsAPIwarsthingy</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="/static/js/api.js" defer></script>
</head>
<body>
<div id="navbar">
    <div class="one">Planet List</div>
    <div class="one">Voting Statistics</div>
    <div class="one">Registration</div>
    <div class="one">Login</div>
    <div class="one">Logout</div>
    <div class="two">Logged in as Gabo</div>
</div>
<h1>Star Wars universe planets</h1>
<div id="stable">
</div>
</body>
</html>