<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar fixed-top navbar-light">
        <button id="Planet List" class="btn btn-success">Try again?</button>
        <a href="/" class="btn btn-outline-dark">Reset settings</a>
    </nav>
<h1>Star Wars univers planets</h1>
<table class="table">
    <tr>
        <td>Name</td>
        <td>Diameter</td>
        <td>Climate</td>
        <td>Terrain</td>
        <td>Surface Water Percantage</td>
        <td>Population</td>
        <td>Residents</td>
        <td></td>
    </tr>
</table>

</body>
</html>